body{
    width: 80%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
}

.header-container{
    background-color: lightblue;
    height: 150px;
    width: 100%;
    background-image: url(../img/pattern.png);
}

header img{
    width: 20%;
    margin-top: 80px;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: lightblue;
    font-weight: bold;
}

.opaco{
    color: rgba(0, 0, 0, 0.5);
}

.small-text{
    font-size: 10px;
}

p span{
    background-color: yellow;
}

footer div{
    width: 250px;
    height: 200px;
    margin-bottom: 15px;
    padding-left: 10px;
}

.monitor{
    background-size: cover;
    background-repeat: no-repeat;
}

#scrivania{
    background-image: url(../img/monitor.jpg);
}

#graph{
    background-image: url(../img/graph.jpg);
}

footer h2{
    color: white;
}
